{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">Create Your Custom Pizza</h1>

<div class="container my-5">
    <form method="POST">
        {% csrf_token %}
        <div class="card p-4 shadow-sm text-center" style="background-color: rgb(36, 36, 36); border-radius: 10px; max-width: 600px; margin: 0 auto;">
            <div class="mb-3">
                <h5 class="text-center">Choose Your Size</h5>
                {{ form.pizza_size }}
            </div>
            <div class="mb-3">
                <h5 class="text-center">Choose Your Crust</h5>
                {{ form.pizza_crust }}
            </div>
            <div class="mb-3">
                <h5 class="text-center">Choose Your Sauce</h5>
                {{ form.pizza_sauce }}
            </div>
            <div class="mb-3">
                <h5 class="text-center">Choose Your Cheese</h5>
                {{ form.pizza_cheese }}
            </div>
            <div class="mb-3">
                <h5 class="text-center">Select Toppings</h5>
                <div class="topping-options">
                    {{ form.toppings }}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-warning mt-4">Order Pizza</button>
        </div>
    </form>
</div>
{% endblock %}
