{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    
    <h1 class="text-center">Welcome To Dashboard</h1>
    <h2 class="text-center">Your Orders</h2>

    {% if orders %}
        <div class="row">  
            {% for order in orders %}
                <div class="col-md-4 mb-4 d-flex justify-content-center">  
                    <div class="card p-4 shadow-sm text-center" style="width: 100%; max-width: 300px; background-color: rgb(36, 36, 36); border-radius: 10px;">
                        <h5 class="mb-3">Order ID: {{ order.id }}</h5>
                        <p><strong>Pizza Size:</strong> {{ order.pizza_size }}</p>
                        <p><strong>Pizza Crust:</strong> {{ order.pizza_crust }}</p>
                        <p><strong>Pizza Sauce:</strong> {{ order.pizza_sauce }}</p>
                        <p><strong>Total Price:</strong> ${{ order.total_price }}</p>
                        <a href="{% url 'order_confirmation' order.id %}" class="btn btn-warning mt-3 w-100">View Order Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'create_pizza' %}" class="btn btn-secondary btn-lg">Order Here!</a>
        </div>
    {% else %}
        <p>You haven't placed any orders yet. Start ordering now!</p>
    {% endif %}
</div>
{% endblock %}
